<div class="table">
    <table class="table table-striped">
        <thead>
            <th>S.no</th>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th>Rating</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of product; index as i">
                <td>{{i+1}}</td>
                <td>{{data?.title}}</td>
                <td>{{data?.price}}</td>
                <td>{{data?.category}}</td>
                <td>{{data.rating.rate}} ({{data.rating.count}})</td>
        </tbody>
    </table>
</div>